.price-container {
  margin: 1em auto;
  padding: 1em;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}
.cart-container {
  width: 60%;
  margin: 1em auto;
  padding: 1em;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
