.details-btn {
  display: flex;

  flex-direction: row;
}

.details-btn button {
  margin-left: 0;
}

.gray-text {
  color: #808080;
}
.product-detail-content {
  padding: 1rem;

  font-weight: normal;
}
.product-detail-value {
  font-weight: normal;
}

.product-detail-image {
  padding: 1rem;
  border: --secondary-color;
}

.product-detail-image img {
  height: 20rem;
  width: 15rem;
}
.eCommerce-card .remove-btn {
  bottom: 24em;
}

@media screen and (min-width: 600px) {
  .product-detail-content {
    padding: 1rem;
    width: 40%;
    font-weight: normal;
  }

  .product-detail-image {
    padding: 1rem;
    border: --secondary-color;
  }

  .product-detail-image img {
    height: 20rem;
    width: 15rem;
  }
}
